body {
    margin: 0;
    background-color: #0D0D0D;
}

.left-container {
    position: relative;
    text-align: center; 
    top: 20%;
    left: 0%;
}

.PHOTO-V1STEP {
    position: relative;
    width: 200px;
    top: 200px;
}


.button-1 {
    width: 50%;
    height: 40px;
    top: 150px;
    position: relative;
    margin-bottom: 10px;
    border-color:#A6A6A6;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    font-size: 100%;
    font-weight: bold;
    font-family: Helvetica, arial;
}
.button-1:hover {
    background-color: #0D0D0D;
    color: aliceblue; 
    transition: 1s;
}

